.ant-slider-track {
  height: 2px;
  background-color: #C4C4C4;
}

.ant-slider-rail {
  height: 2px;
  background-color: #1582D8;
}

.ant-slider {
  padding: 0;
}

.ant-slider:hover {
  .ant-slider-track {
    background-color: #C4C4C4;
  }
  .ant-slider-rail {
    background-color: #1582D8;
  }
}

.ant-slider-handle,
.ant-slider-handle:focus {
  width: 15px;
  height: 15px;
  margin: -6px 0 0;
  border: none;
  background-color: #1582D8;
  box-shadow: none;
}
