body,
html {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: nont;
}

#chromeExtensionReactApp {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #F7FAFF;
  overflow-x: hidden;
}

.jdn {

  /* 
    COMMON CLASSES 
  */
  &__hidden { height: 0; overflow: hidden; }

  /* 
    HEADER
  */
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #000;
  }

  &__header-title {
    flex-grow: 0.8;
    font-size: 13px;
    line-height: 1.3;
  }

  &__header-text {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #fff;
  }

  &__header-version {
    color: #fff;
  }

  &__header-link {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }

  /* 
    BUTTONS
  */
  &__button {
    position: relative;
    height: 36px;
    margin: 16px 0 25px 16px;
    padding: 0 15px 0 35px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #1582D8;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  &__button--reset,
  &__button--generate {
    color: #1582D8;
    background-color: #fff;
    border: 1px solid #1582D8;
  }

  &__button--identify::after,
  &__button--reset::after,
  &__button--generate::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    width: 17px;
    height: 17px;
  }

  &__button--identify::after {background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='5' stroke='white' stroke-width='2'/%3E%3Cpath d='M16.0707 16.0708C16.4612 15.6802 16.4612 15.0471 16.0707 14.6565L11.4142 10L9.99997 11.4142L14.6565 16.0708C15.047 16.4613 15.6802 16.4613 16.0707 16.0708Z' fill='white'/%3E%3C/svg%3E%0A");}
  &__button--reset::after {background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='1' width='16' height='3' rx='1' fill='%231582D8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 6H14V16C14 17.1046 13.1046 18 12 18H4C2.89543 18 2 17.1046 2 16V6ZM5 9C5 8.44772 5.44772 8 6 8C6.55228 8 7 8.44772 7 9V15C7 15.5523 6.55228 16 6 16C5.44772 16 5 15.5523 5 15V9ZM10 8C9.44772 8 9 8.44772 9 9V15C9 15.5523 9.44772 16 10 16C10.5523 16 11 15.5523 11 15V9C11 8.44772 10.5523 8 10 8Z' fill='%231582D8'/%3E%3Crect x='5' width='6' height='2' rx='1' fill='%231582D8'/%3E%3C/svg%3E%0A");}
  &__button--generate::after {background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='14' width='16' height='2' rx='1' fill='%231582D8'/%3E%3Crect x='7' y='10' width='10' height='2' rx='1' transform='rotate(-90 7 10)' fill='%231582D8'/%3E%3Cpath d='M4 7L7.29289 10.2929C7.68342 10.6834 8.31658 10.6834 8.70711 10.2929L12 7' stroke='%231582D8' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");}

  /*
    PERCEPTION TRESHOLD
  */
  &__perception-treshold {
    margin: 0 0 0 16px;
    font-size: 13px;
    font-weight: 700;
  }
  
  &__perception-min,
  &__perception-max {
    font-weight: 400;
    line-height: 1.75;
  }
  
  &__perception-min { margin: 0 7px 0 0; }
  &__perception-max { margin: 0 0 0 7px; }
  
  /* 
    SLIDER
  */
  &__slider {
    display: flex;
    margin: 0 16px 10px 0;
  }
  
  /* 
    RESULTS
  */
  &__result {
    padding: 17px 16px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
  }
  &__result-status {
    font-size: 18px;
    font-weight: 700;
    color: #1582D8;
  }
  &__result-indicators {
    display: flex;
  }
  &__result-indicator {
    margin: 0 36px 0 0;
  }
  &__result-count {
    display: block;
    font-size: 36px;
  }

  /* 
    URL LIST
  */
  &__urls-list { margin: 0 0 0 10px; }

}

.ant-layout { background-color: inherit; }

.ant-select-selection-item {
  color: #008ace;
  font-size: 13px;
}

button svg {
  vertical-align: text-bottom;
}


.ant-btn {
  border: solid 1px #777;
  color: #464547;

  &.ant-btn-link {
    border: none;
  }
}

.treeCounter {
  padding: 0 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #222;
  border-radius: 8px;
  border: solid 1px #cbcbcb;
  background-color: #fff;
}

.field {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #777;
  text-transform: capitalize;
}

.inputsRow {
  display: inline-block;

  & > div {
    float: left;
  }
}

.db {
  display: block;
}

.posr {
  position: relative;
}

.add {
  position: absolute;
  right: 0;
  top: -10px;
}

.ant-input {
  color: #008ace;
}

.list {
  padding-left: 0;
  list-style-type: none;
  display: block;

  .list {
    padding-left: 36px;
  }
}

.link {
  cursor: pointer;
}

.ant-btn-primary {
  color: #fff;
  border: none;
}

.ant-btn-sm {
  font-size: 12px;
}

.ant-select-selector {
  border: 1px solid #d8d8d8 !important;
}

.btnGroup {
  width: 100%;
  display: flex;
}

.btnGroup > .inlineBtn {
  float: left;
  margin: 10px 0 10px 10px;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
}

.btn{
  margin: 0 10px 10px 0;
  padding: 5px;
  width: 35px;
}

.controls-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.generate-style {
  margin: 10px 10px 10px 10px;
}

.checkbox-wrapper {
  margin: 10px 0;
}

.select-wrapper {
  margin: 2px 0;
  display: flex;
}
